main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;

    padding: 14rem 20% 7rem 20%;
}

figure {
    display: flex;
    align-items: center;

    gap: 4rem;

    height: max-content;
}

figure img {
    border-radius: 2rem;
}

@media screen and (orientation: landscape) {
    figure img {
        height: 50rem;
    }
}

@media screen and (orientation: portrait) {
    figure {
        flex-direction: column;
        justify-content: center;

        gap: 5rem;
    }    

    main {
        padding: 20rem 0 8rem 0;
    }

    figure img {
        width: 50%;
    }

    figcaption h2 {
        font-size: clamp(3.5rem, 4.5dvw, 10rem);
        text-align: center;
    }

    figcaption p {
        font-size: clamp(3rem, 2.5dvw, 8rem);
        text-align: center;
    }
}