main {
    padding: 7rem 0 0 0;
    max-height: calc(100dvh - 5rem);
    position: relative;
}

main img {
    height: clamp(10rem, 25dvw, 40rem);
    border-radius: 4rem;
}

figure {
    display: flex;
    align-items: center;

    height: 90dvh;
    justify-content: space-around;
}

figcaption {
    display: flex;
    align-items: center;
}

@media screen and (orientation: portrait) {
    figure {
        flex-direction: column-reverse;
        justify-content: center;

        gap: 5rem;
    }    
}

