@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

:root {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 10px;
    --bg-prim: rgb(50, 50, 50);
    --font-prim: rgb(255, 255, 255);
    --select-bg: rgb(70, 70, 70);
    --select-text: rgb(169, 255, 169);
}

h1,
p,
a {
    margin: 0;
    padding: 0;
}

a {
    color: var(--font-prim);
    text-decoration: none;
}

h1::selection,
a::selection,
p::selection {
    background-color: var(--select-bg);
    color: var(--select-text);
}

body {
    padding: 2rem 8rem;
    background-color: var(--bg-prim);
    color: var(--font-prim);
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
}