:root {
    --font-rev: rgb(172, 185, 255);
    --font-phot: rgb(157, 255, 157);
    --font-guid: rgb(255, 172, 172);
}

[data-theme="light"] {
    --font-rev: rgb(0, 14, 90);
    --font-phot: rgb(0, 77, 0);
    --font-guid: rgb(70, 5, 0);
}

.review {
    color: var(--font-rev);
}

.guide {
    color: var(--font-guid);
}

.photo {
    color: var(--font-phot);
}

main {
    padding: 7rem 10% 0 10%;
}

@media screen and (orientation: portrait) {
    main {
        padding: 7rem 0 0 0;
    }
}

.gridbox {
    --gap: 10rem;
    
    box-sizing: border-box;
    padding: 5rem 15rem;
    
    column-count: 3;
    column-gap: var(--gap);
}

@media screen and (max-width: 1200px) {
    .gridbox {
        column-count: 2;
    }
}

@media screen and (orientation: portrait){
    .gridbox {
        column-count: 1;
        padding: 5rem;
    }
}

@media screen and (max-width: 900px) {
    .gridbox {
        column-count: 1;   
    }
}

a.nounderline {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: calc(var(--gap) - 5px);
    
    border: 0.2rem solid var(--font-prim);

    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
    text-wrap: balance;

    transition: transform 0.1s ease-in-out, border 0.1s ease-in-out;
}

a.nounderline:hover {
    transform: scale(1.05);
    border: 0.2rem solid var(--font-acc);
}

a.nounderline img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}
